<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>Number of displays:</strong>
  <%= @site.displayNumber %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<%= link_to 'Edit', edit_site_path(@site), class: "btn btn-link" %> |
<%= link_to 'Back', sites_path, class: "btn btn-link" %>
